<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head >

    <title>Spring Boot And JPA</title>
    <th:block th:include="product/fragment/headfile :: head"></th:block>
</head>
<body>

<div class="container">
   <th:block th:include="product/fragment/header :: header"></th:block>
   
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Product Info</th>
                <th>Stock</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Discount</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
                <td th:text="${product.productname}">Product Name</td>
                <td th:text="${product.productinfo}">Product Info</td>
                <td th:text="${product.productstock}">Product Stock</td>
                <td th:text="${product.productbuyprice}">Buy price</td>
                <td th:text="${product.productsellprice}">Sell price</td>
                <td th:text="${product.productdiscount}">Discount</td>
                <td><a th:href="${'/product/' + product.id}">View</a></td>
                <td><a th:href="${'/product/edit/' + product.id}">Edit</a></td>
                <td><a th:href="${'/product/delete/' + product.id}">Delete</a></td>
            </tr>
        </table>

    </div>


    <!-- Pagination -->
    <div>
        <ul class='pagination pagination-centered'>
            <li th:class="${page.firstPage}?'disabled':''">
                <span th:if='${page.firstPage}'>First</span>
                <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>First</a>
            </li>

            <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                <span th:if='${not page.hasPreviousPage}'>Previous</span>
                <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>Previous</a>
            </li>

            <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'>
                    <span th:text='${item.number}'>1</span></a>
            </li>

            <li th:class="${page.hasNextPage}? '' : 'disabled'">
                <span th:if='${not page.hasNextPage}'>Next</span>
                <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>Next</a>
            </li>

            <li th:class="${page.lastPage}? 'disabled' : ''">
                <span th:if='${page.lastPage}'>Last</span>
                <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last</a>
            </li>

        </ul>
    </div>


</div>
</body>
</html>